div.iframe-popup {
    cursor: default;
}

div.iframe-popup .iframe-popup-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 50px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 200000;
    left: 0;
    top: 0;
    cursor: zoom-out;
}

div.iframe-popup .iframe-popup-wrapper iframe.iframe-popup {
    background-color: white;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}
